<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>

<link rel="icon" href="/Images/favicon.ico" type="image/gif" sizes="16x16">

    <link rel="stylesheet" href="/CSS/style4.css" >
    
    <title>Perseverance-Gallery</title>
</head>
<body>
   <h1 class="heading"> Perseverance IN Action!! <i class="fa fa-grav" style="font-size:48px;color:white"></i></h1>
   
   <div class="mainbody">
<div class="card">
    <div class="card-body">
    <a class="anchor" href="http://images-assets.nasa.gov/video/JPL-20201110-M2020f-0001-Preparing to Land Perseverance/JPL-20201110-M2020f-0001-Preparing to Land Perseverance~large.mp4" >Preparing to Land Perseverance</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
    <a class="anchor" href="http://images-assets.nasa.gov/video/JPL-20200730-M2020f-0003-NASA’s Perseverance Rover Launches/JPL-20200730-M2020f-0003-NASA’s Perseverance Rover Launches~large.mp4" >NASA's Perseverance Rover Launches to Mars</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
    <a class="anchor" href=
    "http://images-assets.nasa.gov/video/JPL-20210218-M2020f-0003-Perseverance Landing Wrap v2/JPL-20210218-M2020f-0003-Perseverance Landing Wrap v2~large.mp4" >NASA's Perseverance Rover Lands Successfully on Mars</a>
</div>
</div>
<div class="card">
    <div class="card-body">
    <a class="anchor" href="https://images-assets.nasa.gov/image/PIA21496/PIA21496~orig.jpg"
     >From 'Tribulation' to 'Perseverance' on Mars</a>
</div>
</div>
<div class="card">
    <div class="card-body">
    <a class="anchor" href="http://images-assets.nasa.gov/image/KSC-20200402-PH-JPL01_0002/KSC-20200402-PH-JPL01_0002~large.jpg",
     >Mars 2020 Perseverance Rover Wheels</a>

</div>
</div>
<div class="card">
    <div class="card-body">
    <a class="anchor" href="https://images-assets.nasa.gov/image/PIA23764/PIA23764~orig.jpg",
     >Persevarnce on Mars</a>
     
</div>
</div>
<div class="card">
    <div class="card-body">
    <a class="anchor" href="https://images-assets.nasa.gov/video/JPL-20210222-M2020f-0002-NASA%E2%80%99S%20Perseverance%20Rover%E2%80%99s%20First%20360%20View%20of%20Mars/JPL-20210222-M2020f-0002-NASA%E2%80%99S%20Perseverance%20Rover%E2%80%99s%20First%20360%20View%20of%20Mars~large.mp4",
     >NASA’S Perseverance Rover’s First 360 View of Mars</a>
     
</div>
</div>
<div class="card">
    <div class="card-body">
    <a class="anchor" href="http://images-assets.nasa.gov/video/JPL-20201221-M2020f-0001-Perseverance Arrives at Mars - UHD Master/JPL-20201221-M2020f-0001-Perseverance Arrives at Mars - UHD Master~large.mp4",
     >Perseverance Arrives at Mars: Feb. 18, 2021</a>
     
</div>
</div>
<div class="card">
    <div class="card-body">
    <a class="anchor" href="http://images-assets.nasa.gov/video/Perseverance Sends More Sounds From Mars on This Week @NASA – March 12, 2021/Perseverance Sends More Sounds From Mars on This Week @NASA – March 12, 2021~large.mp4",
     >Perseverance Sends More Sounds From Mars on This Week @NASA – March 12, 2021</a>
     
</div>
</div>
<div class="card">
    <div class="card-body">
    <a class="anchor" href="http://images-assets.nasa.gov/video/Our Perseverance Rover Takes up Residence on Mars on This Week @NASA – February 20, 2021/Our Perseverance Rover Takes up Residence on Mars on This Week @NASA – February 20, 2021~large.mp4",
     >Perseverance Rover Takes up Residence on Mars on This Week @NASA – February 20, 2021</a>
     
</div>
</div>
<div class="card">
    <div class="card-body">
    <a class="anchor" href="http://images-assets.nasa.gov/video/Our Perseverance Rover Takes up Residence on Mars on This Week @NASA – February 20, 2021/Our Perseverance Rover Takes up Residence on Mars on This Week @NASA – February 20, 2021~large.mp4",
     >Perseverance Rover Takes up Residence on Mars on This Week @NASA – February 20, 2021</a>
     
</div>
</div>

</div>
   
</body>
</html>